body {
    font-family: american typewriter,sans-serif ;
    text-align: center;
    background-image: linear-gradient(-225deg, #E3FDF5 10%, #FFE6FA 100%);        margin: 0;
    padding: 0;
}


/* #loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite; 
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px; 
    margin-left: -60px; 
    z-index: 999;
    display: none; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */


.button-container {
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(5, 2fr); /* 3 columns */
    gap: 20px;
    padding: 5px;
    justify-content: center;
    place-items: center;
    
}


.signout-button {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px; /* Add margin for better spacing */
    border: none;
    border-radius: 5px;
    background-color: rgb(33, 151, 151); /* Teal color */
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    z-index: 999; /* Ensure it's above other elements */
}

/* Style for hover effect */
.signout-button:hover {
    background-color: #005353; /* Darker teal color */
}

.button-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 20px; /* Gap between buttons */
}

.button {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 20px;
    animation: fadeUp 0.2s ease-in-out forwards; 
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add a shadow */
    transition: box-shadow 0.5s ease;

    transform: translateY(100%); /* Start the button off-screen */
    animation: slideIn 1s forwards, fadeUp 2.5s forwards; /* Animate the button into view */

}

.button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; /* Gap between animation and heading */
}

.svg{
    transition: all 0.2s ease;
}

.button:hover {
    color: white;
    box-shadow: 0 0 15px #4facfe; 

}

/* Hover animation */
.button:hover .svg {
    transform: scale(1.05); /* Scale up by 5% */
}

h2{
    font-size: 2.5rem;
}
h3 {
    color: black;
    font-size: 1.2rem;
}

@keyframes slideIn {
    from {
        transform: translateY(100%); /* Start off-screen */
    }
    to {
        transform: translateY(0); /* Move to its final position */
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



